.App {
  background-color: #c3cee2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-content {
  border-radius: 4px;
  outline: 2px solid cyan;
  position: relative;
  width: 360px;
  text-align: center;
  background-color: #b3b3b3;
  padding: 2%;
}